:root {
    --font-size: 13px;
    --font-weight: 400;
    --font-family: 'Inter', Helvetica, sans-serif;

    --color-background: #FBF9F6;
    --color-light-green: #E4FEF4;
    --color-light-yellow: #FDF8DD;
    --color-light-blue: #F1FAFF;
    --color-light-red: #FCEFF3;
    --color-primary: #20d489;
    --color-secondary: #6625BA;
    --color-hover-primary: #2dc083;
    --color-hover-secondary: #8441db;
    --color-active: #67D48A;
    --color-card-border: rgb(236, 235, 235);
    --color-grey: grey;
    --color-black: black;
    --color-white: white;
    --color-purple: #4F0CA4;

    --border-radius: 10px;
    --transition-duration: 0.3s;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--font-size) !important;
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    background-color: var(--color-background);
}

a {
    text-decoration: none;
}

.bg-light-green {
    background-color: var(--color-light-green) !important;
    color: var(--color-primary) !important;
}

.bg-light-yellow {
    background-color: var(--color-light-yellow) !important;
    color: #F3C60C !important;
}

.bg-light-blue {
    background-color: var(--color-light-blue) !important;
    color: #5BB3FF !important;
}

.bg-light-red {
    background-color: var(--color-light-red) !important;
    color: #E73F6B !important;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
}

.menu-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: var(--color-light-green);
    margin-right: 3rem;
    height: fit-content;
    padding: 3px 3px;
    font-size: large;
}

.menu-btn i {
    color: var(--color-primary);
}

.pulse-ring {
    display: block;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -4px;
    right: -6px;
    animation: animation-pulse 3.5s ease-out infinite;
    opacity: 0;
    border-width: 3px;
    border-style: solid;
    border-color: red;
}

@keyframes animation-pulse {
    0% {
        transform: scale(.1, .1);
        opacity: 0;
    }
    60% {
        transform: scale(.1, .1);
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

.w-70 {
    width: 70%;
}

.w-40 {
    width: 40% !important;
}

.btn-primary {
    background-color: var(--color-active);
    border: var(--color-active);
}

.btn-primary:hover {
    background-color: var(--color-hover-primary);
    border: var(--color-hover-primary);
}

.btn-secondary {
    background-color: var(--color-secondary);
    border: var(--color-secondary);
}

.btn-secondary:hover {
    background-color: var(--color-hover-secondary);
}

.btn-active-primary:hover {
    background-color: var(--color-hover-primary);
    color: var(--color-white);
}

.text-hover:hover {
    color: var(--color-primary);
}

.cursor-pointer {
    cursor: pointer;
}

.symbol {
    width: 65px;
    height: 65px;
}

.symbol-label {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.bg-light-primary {
    background-color: var(--color-primary);
}

.mainPage .card {
    border: 1px solid var(--color-card-border);
}

.nav-link {
    color: var(--color-grey);
}

.nav-link:hover {
    color: var(--color-black);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--color-black);
    background-color: #F9F9F9;
}

.h-6px {
    height: 6px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-purple);
    justify-self: end;
    transition: transform var(--transition-duration) ease;
    transform: translateX(0);
}

.sidebar .sidebar-nav {
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 0;
    overflow: auto;
    flex-wrap: nowrap;
    height: 30%;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-nav .nav-link.active {
    background-color: var(--color-primary);
    border: 0;
}

.sidebar-nav .nav-link {
    background-color: var(--color-purple);
    border-radius: var(--border-radius);
    border: none;
}

.sidebar-nav .nav-link:hover {
    border: none;
}

.nav-link img.default {
    display: block;
}

.nav-link img.active {
    display: none;
}

.nav-link.active img.default {
    display: none;
}

.nav-link.active img.active {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link img {
    max-width: 100%;
    height: 100%;
}

.nav-icon {
    width: 25px;
}

.sidebar .card {
    border: none;
}

.card-header {
    background-color: transparent;
}

.sidebar .card-header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.sidebar.hidden1 {
    transform: translateX(100%);
}

.sidebar:not(.hidden1) {
    transform: translate(0%);
}

.btn-info {
    color: var(--color-white);
    background-color: transparent;
    border: none;
    font-size: larger;
}

.btn-info:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
}

.sidebar-main {
    height: 70%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-white) transparent;
    border-radius: 1rem;
}

.sidebar-main .symbol img {
    border-radius: var(--border-radius);
}

.primary-text-hover:hover {
    color: var(--color-primary) !important;
}

.menu-link {
    color: var(--color-grey) !important;
    width: 100%;
}

.menu-item {
    margin: 20px 5px;
    padding: 10px;
}

/* Modal css */
.modal.left .modal-dialog {
    position: fixed;
    right: 0;
    margin: auto;
    width: 320px;
    z-index: 2000 !important;
    height: 100%;
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
    left: -320px;
    transition: opacity 0.3s linear, left var(--transition-duration) ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}
